body {
    background-color: pink;
}

.grid {
    display: flex;
    flex-wrap: wrap;
   /* height: 306px;*/
    width: 715px; 
    border: 4px dotted pink;
    border-radius: 15px;
    margin: 0px auto;
}

#table {
    text-align: center;
}

#scoreBoard {
    text-align: center;
}

img {
    border: 1px solid pink;
    border-radius: 10px;
    width: 100px;
    height: 100px;

}

#resetButton {
    margin-top: 20px;
    margin: 0px auto;
    align: center;
}

.footer {
    margin-top: 20px;
    text-align: center;
}